/*####################*/
      /* IMPORTS */
/*####################*/

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
/* font-family: 'Spartan', sans-serif; */



/*####################*/
     /* VARIABLES */
/*####################*/

:root {

  /* Font Family */
  --main-font-family: 'Spartan', sans-serif;

  /* Font Weights */
  --fw-normal: 500;
  --fw-bold: 700;

  /* Colors */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --bg-light-grayish-cyan: hsl(180, 52%, 96%);
  --filter-tablets-light-grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

}





/*####################*/
      /* STYLES */
/*####################*/

/* MOBILE FIRST */


/* HTML and Box-Sizing Reset */
html {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/* Body */
.main-container {
  font-family: var(--main-font-family);
  font-weight: var(--fw-normal);
  background-color: var(--bg-light-grayish-cyan);
}


/* Header */
.main-header {
  background-color: var(--desaturated-dark-cyan);
  margin-bottom: 4.333333rem;
}

.main-header-image {
  height: 10.4rem;
  background-image: url('../images/bg-header-mobile.svg');
}


/* Job Listing Container */
.job-listing-container {
  width: 21.8rem;
  height: 17.133333rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.666667rem;
  background-color: var(--filter-tablets-light-grayish-cyan);
  border-radius: 0.333333rem;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  /* position: relative; */
}

/* If featured=true add this class for left border */
.featured-listing-border {
  border-left: 0.333333rem solid var(--desaturated-dark-cyan);
}

/* logo */
.company-logo {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-left: 1.6rem;
  background-image: url(../images/photosnap.svg);
  background-position: center;
  background-size: contain;
  position: relative;
  top: -1.5rem;
}


/* Job Listing Decription Container */
.job-listing-description-container {
  margin-left: 1.6rem;
  height: 5.866667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Job Listing Features Container */
.job-listing-features-container {
  height: 1.6rem;
  display: flex;
  align-items: center;
}


/* Conpany Name */
.company-name {
  color: var(--desaturated-dark-cyan);
  font-size: 0.866667rem;
  font-weight: var(--fw-bold);
  line-height: 1rem;
}


/* Features Container */
.features-container {
  margin-left: 1.066667rem;
  display: flex;
}


/* Listings Shared Styles */
.listing-container {
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}


.listing {
  margin-top: 0.34rem;
  text-transform: uppercase;
  font-size: 0.733333rem;
  font-weight: var(--fw-bold);
  line-height: 0.933333rem;
  letter-spacing: -0.005333rem;
  color: #fff;
}


/* New Listing */
.new-listing-container {
  width: 3.4rem;
  background-color: var(--desaturated-dark-cyan);
}


/* Featured Listing */
.featured-listing-container {
  width: 5.266667rem;
  background-color: var(--very-dark-grayish-cyan);
  margin-left: 0.533333rem;
}


/* Job Title */
.job-title {
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
}


/* Job Listing Ifo Container */
.job-listing-info-container {
  height: 1.6rem;
  display: flex;
  align-items: center;
}


.job-info {
  font-size: 0.866667rem;
  line-height: 1.6rem;
  letter-spacing: -0.0066667rem;
  color: var(--dark-grayish-cyan);
}

.small-circle {
  height: 0.266667rem;
  width: 0.266667rem;
  border-radius: 50%;
  background-color: var(--dark-grayish-cyan);
  margin-left: 0.533333rem;
  margin-right: 0.533333rem
}