/*####################*/
      /* IMPORTS */
/*####################*/

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
/* font-family: 'Spartan', sans-serif; */



/*####################*/
     /* VARIABLES */
/*####################*/

:root {

  /* Font Family */
  --main-font-family: 'Spartan', sans-serif;

  /* Font Weights */
  --fw-normal: 500;
  --fw-bold: 700;

  /* Colors */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --filter-btn-background-color: hsla(180, 29%, 50%, 0.1);
  --bg-light-grayish-cyan: hsl(180, 52%, 96%);
  --filter-tablets-light-grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

}





/*####################*/
      /* STYLES */
/*####################*/

/* MOBILE FIRST */


/* HTML and Box-Sizing Reset */
html {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/* Body */
.main-container {
  font-family: var(--main-font-family);
  font-weight: var(--fw-normal);
  background-color: var(--bg-light-grayish-cyan);
}


/* Header */
.main-header {
  background-color: var(--desaturated-dark-cyan);
  margin-bottom: 4.333333rem;
}

.main-header-image {
  height: 10.4rem;
  background-image: url('../images/bg-header-mobile.svg');
}


/* Filter Buttons Area */
.filter-area {
  width: 21.8rem;
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 0.333333rem;
  position: relative;
  top: -6.333333rem;
  margin-bottom: -3.333333rem;
}


.filter-area-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 15.933333rem;
  padding-bottom: 1.066667rem;
  padding-left: 1.066667rem;
}


.filter-area-btn-container {
  display: flex;
}

.filter-area-btn {
  margin-right: 0rem;
  border-radius: 0.266667rem 0 0 0.266667rem !important;
}

.remove-btn {
  height: 2.133333rem;
  width: 2.133333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--desaturated-dark-cyan);
  border-radius: 0 0.266667rem 0.266667rem 0;
  margin-top: 1.066667rem;
  margin-right: 1.066667rem;
}

.remove-btn:hover {
  cursor: pointer;
  background-color: var(--very-dark-grayish-cyan);
}


.remove-btn-img {
  height: 0.896rem;
  width: 0.896rem;
  background-image: url('../images/icon-remove.svg');
}


.clear-btn-container {
  width: 88px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}


.clear-btn {
  font-size: 0.866667rem;
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
  letter-spacing: -0.006667rem;
  color: var(--dark-grayish-cyan);
}

.clear-btn:hover {
  cursor: pointer;
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
}


/* Job Listing Container */
.job-listing-container {
  width: 21.8rem;
  /* height: 17.133333rem; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.666667rem;
  background-color: #fff;
  border-radius: 0.333333rem;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  /* position: relative; */
}

/* If featured=true add this class for left border */
.featured-listing-border {
  border-left: 0.333333rem solid var(--desaturated-dark-cyan);
}

/* logo */
.company-logo {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-left: 1.6rem;
  background-image: url(../images/photosnap.svg);
  background-position: center;
  background-size: contain;
  position: relative;
  top: -1.5rem;
}


/* Job Listing Decription Container */
.job-listing-description-container {
  margin-left: 1.6rem;
  margin-bottom: 1.066667rem;
  height: 5.866667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Job Listing Features Container */
.job-listing-features-container {
  height: 1.6rem;
  display: flex;
  align-items: center;
}


/* Conpany Name */
.company-name {
  color: var(--desaturated-dark-cyan);
  font-size: 0.866667rem;
  font-weight: var(--fw-bold);
  line-height: 1rem;
}


/* Features Container */
.features-container {
  margin-left: 1.066667rem;
  display: flex;
}


/* Listings Shared Styles */
.listing-container {
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}


.listing {
  margin-top: 0.34rem;
  text-transform: uppercase;
  font-size: 0.733333rem;
  font-weight: var(--fw-bold);
  line-height: 0.933333rem;
  letter-spacing: -0.005333rem;
  color: #fff;
}


/* New Listing */
.new-listing-container {
  width: 3.4rem;
  background-color: var(--desaturated-dark-cyan);
}


/* Featured Listing */
.featured-listing-container {
  width: 5.266667rem;
  background-color: var(--very-dark-grayish-cyan);
  margin-left: 0.533333rem;
}


/* Job Title */
.job-title {
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
}

.job-title:hover {
  cursor: pointer;
  color: var(--desaturated-dark-cyan);
}


/* Job Listing Ifo Container */
.job-listing-info-container {
  height: 1.6rem;
  width: max-content;
  display: flex;
  align-items: center;
}


.job-info {
  font-size: 0.866667rem;
  line-height: 1.6rem;
  letter-spacing: -0.0066667rem;
  color: var(--dark-grayish-cyan);
}

.small-circle {
  height: 0.266667rem;
  width: 0.266667rem;
  border-radius: 50%;
  background-color: var(--dark-grayish-cyan);
  margin-left: 0.533333rem;
  margin-right: 0.533333rem
}


/* Horizongtal Rule */
.horizontal-line {
  height: 0.066667rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  background-color: var(--dark-grayish-cyan);
}


/* Job Listing Filters Container */

.job-listing-filters-container {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  padding-bottom: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}


/* Filter Buttons */

.filter-btn {
  height: 2.133333rem;
  margin-top: 1.066667rem;
  
  background-color: var(--filter-tablets-light-grayish-cyan);
  border-radius: 0.266667rem;
  display: flex;
  align-items: center;
}

.job-listing-filter-btn {
  margin-right: 1.066667rem;
  color: var(--desaturated-dark-cyan);
}

.job-listing-filter-btn:hover {
  cursor: pointer;
  background-color: var(--desaturated-dark-cyan);
  color: #fff;
}

.filter-btn-copy {
  font-size: 0.866667rem;
  font-weight: var(--fw-bold);
  line-height: 1.6rem;
  letter-spacing: -0.006667rem;
  /* color: var(--desaturated-dark-cyan); */
  text-align: center;
  padding: 0.266667rem 0.533333rem;
}



/*####################*/
   /* MEDIA QUERIES */
/*####################*/


@media only screen and (min-width: 915px) {

  /* Header */
  .main-header {
    margin-bottom: 5.066667rem;
  }


  /* Main Header Image */
  .main-header-image {
    background-image: url('../images/bg-header-desktop.svg');
  }


  /* Filter Area */
  .filter-area {
    width: 74rem;
    height: 4.8rem;
    top: -7.333333rem;
    margin-bottom: -2.666667rem;
    justify-content:space-between;
  }


  /* Filter Area Buttons Container */
  .filter-area-buttons-container {
    width: auto;
    padding: 0rem;
    margin-left: 2.666667rem;
    align-items: center;
  }


  /* Filter Area Buttons */
  .filter-area-btn {
    margin-top: 0rem;
  }


  /* Remove Button */
  .remove-btn {
    margin-top: 0rem;
  }


  /* Clear Button Container */
  .clear-btn-container {
    margin-right: 1.4rem;
  }


  /* Job Listing Container */
  .job-listing-container {
    width: 74rem;
    height: 10.133333rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    
  }


  /* Company Logo */
  .company-logo {
    position: static;
    height: 5.866667rem;
    width: 5.866667rem;
    margin-left: 2.666667rem;
    margin-right: 1.6rem;
  }


  /* Job Listing Desktop Container */
  .job-listing-desktop-container {
    display: flex;
    justify-content: space-between;
    width: 61.2rem;
  }


  /* Job Listing Description Container */
  .job-listing-description-container {
    margin-bottom: 0rem;
    margin-left: 0rem;
    width: 17.7333333rem;
  }


  /* Company Name */
  .company-name {
    font-size: 0.933333rem;
  }


  /* Job Title */
  .job-title {
    font-size: 1.2rem;
  }


  /* Job Info */
  .job-info {
    font-size: 1rem;
  }


  /* Small Circle */
  .small-circle {
    margin-left: 1.066667rem;
    margin-right: 1.066667rem;
  }


  /* Horizontal Line */
  .horizontal-line {
    display: none;
  }


  /* Job Listing Filter Container */
  .job-listing-filters-container{
    margin: 0rem;
    padding: 0rem;
    align-items: center;
  }


  /* Job Listing Filter Button  */
  .job-listing-filter-btn {
    margin-top: 0rem;
  }



}

